.container {
    width: min(100%, 1440px);
    margin: auto;
    border: 10px;
}

header {
    padding: 52px 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    column-gap: 50px;
}

li a {

    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.active {
    color: #27187F;
}

.no_active {
    color: #758BFD;
}

.search_container {
    display: flex;
    width: 222px;
    height: 56px;
    ;
    border-radius: 10px;
    border: 3px solid #758BFD;
}

.logo1 {
    color: #758BFD;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    display: flex;
    margin-left: 180px;
    padding-top: 12px;
}

section {
    display: flex;
    width: 1440px;
    height: 1052px;
    padding: 115px 98px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #DDEAF8;
    flex-wrap: wrap;
    width: 1440px;
    height: 1052px
}

h2 {
    color: #27187F;
    font-family: Ubuntu;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 68px;
    margin-left: 98px;
}

.card {
    border: 10px;
    width: 400px;
    margin-top: 115px;
    border-color: #FFF;
    border-radius: 10px;

    padding: 33px 30px;


}

.peacture {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    background: #FFF;

}

p {
    width: 340px;
    color: #133B3A;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    ;

}

footer {
    width: 1440px;
    height: 239px;
    flex-shrink: 0;
    background: #758BFD;
}


.word {
    color: #FFF;
    font-size: 20px;
    padding: 75px 734px 20px 98px;
    display: flex;

}

.logo2 {
    display: flex;
    padding-left: 98px;
}

div {
    align-items: center;
    
}